<!-- Strength Score Badges -->
<app-strength-score-badge
  ngClass="inline-flex items-center justify-center flex-shrink-0"
  [score]="password.score"
></app-strength-score-badge>

<!-- Password -->
<p
  ngClass="text-ellipsis max-w-xs select-all whitespace-nowrap overflow-hidden text-white font-normal font-mono"
  [class.text-green-300]="copied"
  [class.font-poppins]="copied"
  [class.text-sm]="copied"
>
  {{ copied ? "Password Copied! ;) " : password.value }}
</p>

<div ngClass="inline-flex flex-nowrap">
  <!-- Copy to Clipboard Button -->
  <button
    type="button"
    ngClass="inline-flex items-center p-3 rounded-md text-gray-400 hover:text-white hover:bg-surface-primary"
    ngxClipboard
    [cbContent]="password.value"
    (click)="onCopied()"
  >
    <ng-icon name="heroDocumentDuplicate" size="20"></ng-icon>
  </button>

  <!-- Regenerate Password Button -->
  <button
    type="button"
    ngClass="inline-flex items-center p-3 rounded-md text-gray-400 hover:text-white hover:bg-surface-accent pop-popcorn-box"
    (click)="onRegenerate()"
  >
    <ng-icon name="heroArrowPathRoundedSquare" size="20"></ng-icon>
  </button>
</div>
