<div
  [ngSwitch]="password.score"
  ngClass="flex justify-end items-center rounded-md shadow-xl w-72 md:w-[30rem] xl:h-72 font-poppins font-extrabold relative"
  [class.bg-red-400]="password.score <= 0 || password.score > 4"
  [class.bg-orange-400]="password.score == 1"
  [class.bg-yellow-400]="password.score == 2"
  [class.bg-green-400]="password.score == 3"
  [class.bg-indigo-400]="password.score == 4"
>
  <ng-template [ngSwitchCase]="0">
    <p
      ngClass="text-2xl md:text-5xl overflow-visible absolute pl-3 md:pl-9 left-0"
    >
      Completely Hackeable!
    </p>
    <app-larry-vulnerable [height]="200" [width]="200"></app-larry-vulnerable>
  </ng-template>
  <ng-template [ngSwitchCase]="1">
    <p
      ngClass="text-3xl md:text-5xl overflow-visible absolute pl-3 md:pl-9 left-0"
    >
      Small Steps Forward!
    </p>
    <app-larry-weak [height]="200" [width]="200"></app-larry-weak>
  </ng-template>
  <ng-template [ngSwitchCase]="2">
    <p ngClass="text-5xl overflow-visible absolute pl-3 md:pl-9 left-0">
      Getting Closer!
    </p>
    <app-larry-good [height]="200" [width]="200"></app-larry-good>
  </ng-template>
  <ng-template [ngSwitchCase]="3">
    <p
      ngClass="text-5xl md:text-6xl overflow-visible absolute pl-3 md:pl-9 left-0"
    >
      Nice!
    </p>
    <app-larry-strong [height]="200" [width]="200"></app-larry-strong>
  </ng-template>
  <ng-template [ngSwitchCase]="4">
    <p
      ngClass="text-4xl xl:text-5xl max-w-[128px] overflow-visible absolute pl-3 md:pl-9 left-0"
    >
      You've F***ing Made It!
    </p>
    <app-larry-secure [height]="200" [width]="200"></app-larry-secure>
  </ng-template>
</div>
