<div
  ngClass="overflow-x-hidden md:overflow-visible flex flex-col items-center gap-y-10 "
>
  <navbar></navbar>

  <hero></hero>

  <section
    ngClass="flex flex-col xl:flex-row items-center xl:items-start gap-6 mt-6"
  >
    <illustration></illustration>
    <generator></generator>
  </section>

  <footer ngClass=" pb-8 border-t border-gray-800 w-full">
    <app-footer
      ngClass="flex flex-col sm:flex-row items-center justify-center sm:justify-around gap-y-4"
    ></app-footer>
  </footer>
</div>
