<h1 ngClass="font-bold text-4xl text-white text-center">
  Generate
  <rough-notation
    type="highlight"
    [show]="true"
    [animationDuration]="1200"
    [color]="'rgb(254 240 138)'"
    ngClass="relative text-gradient hidden sm:inline"
  >
    strong and secure
  </rough-notation>
  <span ngClass="relative text-gradient inline sm:hidden">
    strong and secure</span
  >
  passwords.
</h1>

<p
  ngClass="font-extralight text-lg text-gray-400 text-center mt-3 mx-6 sm:mx-auto max-w-lg md:max-w-2xl"
>
  Mix letters, numbers and symbols to get a random password and check the
  strength of your password
  <rough-notation
    type="underline"
    [show]="true"
    [animate]="false"
    [color]="'rgb(250 40 98)'"
    ngClass="relative inline-block text-white font-light "
  >
    for all your online accounts.
  </rough-notation>
</p>
