<h1 ngClass="font-bold text-white text-3xl text-center">
  Generate
  <span ngClass="relative text-gradient"> strong and secure </span>
  passwords.
</h1>

<p ngClass="font-thin text-gray-300 text-xl text-center mt-3">
  Mix letters, numbers and symbols to get a random password and check the
  strength of your password
  <span ngClass="relative inline-block text-white font-normal">
    for all your online accounts.
    <img
      ngClass="absolute right-0 -bottom-1"
      src="assets/underline.svg"
      alt="underline"
    />
  </span>
</p>
