<form
  [formGroup]="form"
  ngClass="flex flex-col flex-wrap items-center justify-center gap-8 sm:gap-4 max-w-xl accent-surface-accent disabled:opacity-50 text-gray-300 font-light"
>
  <!-- Password Input -->
  <app-password-input
    [password]="password.value"
    [score]="password.score"
    ngClass="flex items-center justify-between flex-nowrap gap-2 box-border rounded-md shadow-xl bg-surface-card hover:bg-surface-card-hover w-80 sm:w-96 md:w-[36rem] px-4 py-3 "
    (regenerateEvent)="regenerateEventHandler($event)"
  >
  </app-password-input>

  <!-- Password Strength -->
  <app-password-strength
    [crackTime]="password.crackTime"
    ngClass="flex flex-col items-center justify-center mx-5 sm:mx-auto gap-1"
  >
  </app-password-strength>

  <!-- Password Length -->
  <div
    ngClass="flex flex-col sm:flex-row flex-nowrap justify-center md:justify-start items-center gap-2 w-full mt-2"
  >
    <label for="length" ngClass="flex-1">Password length:</label>
    <span ngClass="font-bold">
      {{ form.value.length }}
    </span>
    <input
      id="length"
      type="range"
      formControlName="length"
      min="1"
      max="50"
      ngClass="w-56 md:w-[22rem] appearance-none rounded-lg h-1 bg-surface-card-hover cursor-pointer "
    />
  </div>

  <!-- Password Characters Used -->
  <div
    ngClass="flex flex-col sm:flex-row flex-nowrap justify-center md:justify-start items-center gap-2 w-full mt-4"
  >
    <label for="complexity"> Characters used:</label>
    <div
      ngClass="flex flex-nowrap gap-2 justify-center w-36 sm:w-72 md:w-[28rem] font-normal"
    >
      <input
        id="lowercase"
        type="checkbox"
        formControlName="lowercase"
        [attr.disabled]="disableCheckbox(checkbox.lowercase)"
      />
      <label for="lowercase"> abc</label>
      <input
        id="uppercase"
        type="checkbox"
        formControlName="uppercase"
        [attr.disabled]="disableCheckbox(checkbox.uppercase)"
      />
      <label for="uppercase"> ABC</label>

      <input
        id="numbers"
        type="checkbox"
        formControlName="numbers"
        [attr.disabled]="disableCheckbox(checkbox.numbers)"
      />
      <label for="numbers"> 123</label>
      <input
        id="symbols"
        type="checkbox"
        formControlName="symbols"
        [attr.disabled]="disableCheckbox(checkbox.symbols)"
      />
      <label for="symbols"> #$&</label>
    </div>
  </div>

  <!-- Show Advanced Settings Button -->
  <button
    (click)="advanced = !advanced"
    ngClass="underline decoration-dotted underline-offset-8 decoration-white my-4"
  >
    {{ advanced ? "Hide " : "" }}Advanced Settings
  </button>

  <!-- Advanced Settings -->
  <div
    ngClass="flex flex-col items-start gap-2 w-52 sm:w-96 md:w-[36rem]"
    *ngIf="advanced"
  >
    <div
      ngClass="flex items-center justify-center md:justify-start gap-2 w-full"
    >
      <input id="strict" type="checkbox" formControlName="strict" />
      <label for="strict"> Include at least one character from each pool</label>
    </div>
    <div
      ngClass="flex items-center justify-center md:justify-start gap-2 w-full"
    >
      <input
        id="excludeSimilarCharacters"
        type="checkbox"
        formControlName="excludeSimilarCharacters"
      />
      <label for="excludeSimilarCharacters">
        Exclude similar characters (e.g. Like i and l)</label
      >
    </div>
    <div
      ngClass="flex flex-col sm:flex-row items-center justify-center md:justify-start gap-2 w-full"
    >
      <label for="exclude"> Exclude characters </label>
      <input
        id="exclude"
        type="text"
        formControlName="exclude"
        ngClass="px-2 py-1 appearance-none box-border shadow-sm rounded-sm border-2 border-surface-back focus:border-surface-accent focus:outline-none text-gray-700"
      />
    </div>
  </div>
</form>
