<form
  [formGroup]="passwordForm"
  (ngSubmit)="onSubmit()"
  ngClass="flex flex-col flex-wrap items-center justify-center gap-4 max-w-xl"
>
  <!-- Password Input -->
  <app-password-input
    [password]="password"
    ngClass="flex items-center justify-between gap-2 box-border rounded bg-gray-200 hover:bg-gray-100 w-80 sm:w-96 md:w-[36rem] px-4 py-3"
  >
  </app-password-input>

  <!-- Password Length -->
  <div ngClass="flex justify-center md:justify-start gap-5 w-full mt-4">
    <label for="length">Password length: {{ passwordForm.value.length }}</label>
    <input
      id="length"
      type="range"
      formControlName="length"
      min="1"
      max="100"
      ngClass="w-36 sm:w-52 md:w-[26rem]"
    />
  </div>

  <!-- Password Characters Used -->
  <div ngClass="flex justify-center md:justify-start gap-10 w-full">
    <label for="complexity"> Characters used:</label>
    <div ngClass="flex flex-wrap gap-2 w-36 sm:w-52 md:w-96">
      <div ngClass="inline-flex gap-2">
        <input id="lowercase" type="checkbox" formControlName="lowercase" />
        <label for="lowercase"> abc</label>
        <input id="uppercase" type="checkbox" formControlName="uppercase" />
        <label for="uppercase"> ABC</label>
      </div>
      <div ngClass="inline-flex gap-2">
        <input id="numbers" type="checkbox" formControlName="numbers" />
        <label for="numbers"> 123</label>
        <input id="symbols" type="checkbox" formControlName="symbols" />
        <label for="symbols"> #$&</label>
      </div>
    </div>
  </div>

  <!-- Show Advanced Settings Button -->
  <button
    (click)="advanced = !advanced"
    ngClass="underline decoration-dotted underline-offset-8 decoration-white"
  >
    {{ advanced ? "Hide " : "" }}Advanced Settings
  </button>

  <!-- Advanced Settings -->
  <div
    ngClass="flex flex-col items-start gap-2 w-52 sm:w-96 md:w-[36rem]"
    *ngIf="advanced"
  >
    <div
      ngClass="flex items-center justify-center md:justify-start gap-2 w-full"
    >
      <input id="strict" type="checkbox" formControlName="strict" />
      <label for="strict"> Include at least one character from each pool</label>
    </div>
    <div
      ngClass="flex items-center justify-center md:justify-start gap-2 w-full"
    >
      <input
        id="excludeSimilarCharacters"
        type="checkbox"
        formControlName="excludeSimilarCharacters"
      />
      <label for="excludeSimilarCharacters">
        Exclude Similar Characters (e.g. Like i and l)</label
      >
    </div>
    <div
      ngClass="flex items-center justify-center md:justify-start gap-2 w-full"
    >
      <label for="exclude"> Exclude characters </label>
      <input
        id="exclude"
        type="text"
        formControlName="exclude"
        ngClass="text-gray-700"
      />
    </div>
  </div>
</form>
