<form
  [formGroup]="passwordForm"
  (ngSubmit)="onSubmit()"
  ngClass="flex flex-col gap-y-4 justify-center items-center"
>
  <app-password-input
    [password]="password"
    ngClass="relative z-0 flex h-full items-center box-content justify-between rounded px-4 py-3 bg-gray-200 hover:bg-gray-100 text-gray-900 w-64 sm:w-96 md:w-[34rem] whitespace-normal gap-x-2"
  >
  </app-password-input>

  <div ngClass="flex w-full mt-4 mx-auto gap-5 justify-center md:justify-start">
    <label for="length">Password length: {{ passwordForm.value.length }}</label>
    <input
      id="length"
      type="range"
      formControlName="length"
      min="1"
      max="100"
      ngClass="text-slate-700 w-34 sm:w-52 md:w-[26rem]"
    />
  </div>

  <div ngClass="relative flex w-full gap-10 md:justify-start justify-center">
    <label for="complexity"> Characters used:</label>
    <div ngClass="flex flex-wrap gap-2 w-36 sm:w-52 md:w-96">
      <div ngClass="inline-flex gap-2">
        <input id="lowercase" type="checkbox" formControlName="lowercase" />
        <label for="lowercase"> abc</label>
        <input id="uppercase" type="checkbox" formControlName="uppercase" />
        <label for="uppercase"> ABC</label>
      </div>
      <div ngClass="inline-flex gap-2">
        <input id="numbers" type="checkbox" formControlName="numbers" />
        <label for="numbers"> 123</label>
        <input id="symbols" type="checkbox" formControlName="symbols" />
        <label for="symbols"> #$&</label>
      </div>
    </div>
  </div>

  <button *ngIf="!advanced" (click)="advanced = !advanced">
    Show Advanced Settings
  </button>
  <div ngClass="relative flex flex-col gap-1" *ngIf="advanced">
    <label for="complexity"> Advanced Settings:</label>
    <div ngClass="flex gap-2">
      <input id="strict" type="checkbox" formControlName="strict" />
      <label for="strict"> Include at least one character from each pool</label>
    </div>
    <div ngClass="flex gap-2">
      <input
        id="excludeSimilarCharacters"
        type="checkbox"
        formControlName="excludeSimilarCharacters"
      />
      <label for="excludeSimilarCharacters">
        Exclude Similar Characters (e.g. Like i and l)</label
      >
    </div>
    <div ngClass="flex gap-2">
      <label for="exclude"> Exclude characters </label>
      <input id="exclude" type="text" formControlName="exclude" />
    </div>
  </div>

  <button type="submit" [disabled]="!passwordForm.valid">
    Generate Password
  </button>
  <p>Form Status: {{ passwordForm.value | json }}</p>
</form>
