<popper-content
  #strengthPopper
  ngClass="font-poppins text-white text-sm text-center w-96"
>
  <p>By unthrottled online attack</p>
  <p>(10 passwords / second)</p>
</popper-content>

<p ngClass="text-sm text-center">
  Time it takes a hacker to brute force your password

  <ng-icon
    name="heroInformationCircle"
    size="20"
    title="By unthrottled online attack (10 passwords / second)"
    [popper]="strengthPopper"
    [popperPlacement]="placements.TOP"
    [popperTrigger]="triggers.hover"
    ngClass="inline"
  ></ng-icon>
</p>
<p ngClass="text-lg font-bold text-center">{{ crackTime }}</p>
